html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  color: #e4dcc9;
}

.App * {
  position: relative;
}

.kirja-tiedot {
  text-align: left;
  font-size: 1.2em;
}

.klikattava {
  cursor: pointer;
  padding: 10px;
}

.klikattava-valittu {
  font-weight: bold;
  text-decoration: underline;
}

.kuvake {
  margin: auto;
  max-height: 200px;
  max-width: 200px;
}

.kuvake-pieni {
  font-size: 1.5em;
  margin: auto;
  max-height: 75px;
  max-width: 75px;
}

.kuvake-säiliö {
  height: 200px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.lainassa {
  color: rgba(255, 255, 255, .5);
  /*background: darkred;*/
  border-radius: .3rem;
  font-size: 1.25rem;
  font-style: italic;
  /*font-weight: 500;*/
  line-height: 1.5;
  padding: .5rem 1rem;
}

.nappi {
  background: #62382a;
  border-color: #62382a;
  color: #e4dcc9;
}

.nappi:hover {
  background: #b68133;
  border-color: #b68133;
  color: white;
}

.nappi:active {
  background: #b68133;
  border-color: #b68133;
  color: #62382a;
}

.nappi:focus {
  background: #b68133;
  border-color: #b68133;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(90, 79, 62, .5);
}

.nappi-petrooli {
  background: #0e3a45;
  border-color: #0e3a45;
  color: #e4dcc9;
}

.nappi-petrooli:hover {
  background: #155768;
  border-color: #155768;
  color: white;
}

.navigaatio-linkki {
  color: #e4dcc9;
  font-size: 1em;
  margin-left: 40px;
}

.navigaatio-linkki:hover {
  color: #e4dcc9;
}

.navigaatio-otsikko {
  font-size: 1.25em;
}

.navigaatio-palkki {
  background: #155768;
  border-bottom: 4px solid #0e3a45;
  position: sticky;
  text-align: left;
  top: 0;
  z-index: 1;
}

.oikealle {
  float: right;
}

.pohja {
  background: #0e3a45;
}

.pohja-vaalea {
  background: #155768;
}

.pudotusvalikko [selected]{
  background: #0e3a45;
}

.roskis {
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 20px;
}

.sisältö {
  margin: auto;
  width: 50%;
}

.sisältö-pieni {
  margin: auto;
  width: 30%;
}

.tausta {
  background-image: url("/src/images/background3.jpg");
  background-size: cover;
  background-position-y: -200px;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
}

.toiminnot {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.topattu-vähän {
  padding: 10px;
}

.topattu-vähän-lisää-alhaalta {
  padding-bottom: 30px;
}

.täyte {
  height: 100%;
}

.vaalea-teksti {
  color: #e4dcc9;
}

.vaaleat-reunat {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  border-top: 1px solid rgba(255, 255, 255, .5);
}

.vasemmalle {
  float: left;
}